      <div class="col-md-10" id="products-right-container">
        <ul class="products-container">
          <li class="product product-boxes" ng-repeat="product in vm.products" >
            <ul id="products">
              <div>
                <li class="product product-photos-li ">
                  <a><img id="product-list-photos" ng-src="{{product.image}}"></a>
                </li>
                <li class="product product-model">
                  <strong>{{product.phoneModel}}</strong>
                </li>
                <li class="product product-price">
                  <em>{{product.price}}</em>
                </li>
                <li class="product product-manufacturer">
                  {{product.manufacturer}}
                </li>
                <li class="product buttons-li">
                  <button class="btn btn-danger btn-xs" ng-click="vm.deleteProduct(product._id)">X</button>
                  <button class="btn btn-warning btn-xs" ng-click="">Edit</button>
                </li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
